* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 46, 46);
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

span {
    font-size: 15px;
    font-family: "cairo";
}

.arab {
    font-size: 25px;
    font-family: "cairo";
    letter-spacing: 0px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bold;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3 ease;
}

.burger {
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
    .logo {
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
    }
    span {
        font-size: 10px;
        font-family: "cairo";
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color: rgb(56, 56, 56);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translate(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: 0px;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

body {
    background: rgba(22, 22, 22);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.header {
    text-align-last: center;
    margin-top: 20px;
}

.img,
img {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header2,
h2 {
    text-align-last: center;
    margin-top: 100px;
    font-family: ;
    font-family: "Cairo", sans-serif;
}